.entityTable{   
   border-collapse:collapse;
   border-bottom:1px solid #000000;
}

.entityTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;
   border-top:1px solid #000000;
   padding:2px;
}

tr:nth-child(even) {
    background:none repeat scroll 0 0 #D3D3D3;
	text-align:center;
}
tr:nth-child(odd) {
	text-align:center;
    background:none repeat scroll 0 0 #FFFFFFF;	
}
